body {
    background-color: rgb(75, 75, 228);
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    padding: 15px 15px;
    width: 500px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}

footer {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
}